<% @turbolinks_cache_control = 'no-cache' %>

  <section class="banner">
        <%= video_tag "video.mp4", autoplay: :autoplay, muted: :muted, id: "jingle" %>
  </section>

<h1>Eurekod</h1>
<%=link_to 'new video', new_eurekod_path%>

<%@eurekods.each do |video|%>
  <p><%= video.name%></p>
  <p><%= video.description%></p>
<% end %>