<section class="about-cover">
  <div class="intro-boutme">
    <h3>About me...</h3>
    <p>"Vivo en Colombia desde hace 10 años. Ahora tengo una doble cultura, útil para comprender esta aldea global que es el mundo de hoy. </p>
    <p>En Francia, Logré trabajar en grandes agencias de publicidad. Donde desarrollé lo que para mí es un arte: la comunicación. Por eso manejo esta disciplina sabiendo lo útil que es un mensaje claro y directo para una empresa. Gracias a mi experiencia también adquirí un buen nivel creativo que no solo me sirve para el diseño.</p>
    <p>Inventivo y creativo son heramientas que tengo para realizar un paradigma a través de la programación. Durante 2 años mi trabajo ha sido principalmente como desarrollador web fullstack. Desarrollé una mente lógica gracias a varios proyectos. De mi naturaleza  altruista surgió naturalmente la enseñanza de lenguajes de programación como ruby ​​y javascript. Yo en tres  palabras ? Creatividad y lógica!"</p>
  </div>
</section>

<%= link_to "Hoja de vida", asset_path("/Nicolas-Barbier-cv.pdf"), target: "blank" %>


