

.home-cover{
  
  background: image-url("cover-home.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}

.cover-title {
  position: absolute;
  top: 2rem;
}

#logo-transparent{
  width: 300px;
}

#logotype-transparent{
  width: 200px;
}



.cover-logo{
  animation: fade-in 2s ease;
  position: absolute;
  top: calc(50vh - 170px);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


.cover-p{
  // width: 250px;
  text-align: center;
  line-height: 1.5;
  font-size: 1.4rem;
  position: absolute;
  top: 84vh;
}

.cover-p p{
  text-transform: uppercase;
}

// .text-highlight {
//   font-style: normal;
//   background-color: black;
//   color: #c3e9fb;
// }



#intro{
  width: 100%;
  height: 925px;;
  background-image: image-url("imac3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1800px;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  // align-items: center;
}

#intro-vid{
  width: 720px;
  position: absolute;
  top: 14%;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



//////////// discipline //////////////

#discipline{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 2%;
  box-sizing: border-box;
  position: relative;
}


.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  flex-wrap: wrap;
  
}

.skills-title{
  color: gray;
  font-size: 4rem;
  margin: 0 auto;
}

.skills-pic{
  width: 335px;
  height: 130px;
  transform: skewY(-2deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button{
  
  padding: 5px 10px;
  border-radius: 20px 5px 20px 0px;
  color: white;
  transition: all .3s ease;
  font-weight: bold;
}

.link-button:hover{
  
}

.skills-text{
  color: gray;
  width: 500px;
  height: 130px;
  transform: skewY(-2deg);
}

.skills-text h3{
  margin-top: 0;
}

.skills:nth-child(2) .skills-pic, .skills:nth-child(4) .skills-pic{
  order: 2;
}

#skill-dev{
  background-image: image-url("keyboard-code.jpg");
}

 
#skill-dev:hover{
  background-size: 150%;
}

#skill-dev a{
  background-color: rgba(247, 86, 0, 0.4);
  border: 1px solid rgba(247, 86, 0, 0.7);
  box-shadow: 0px 0px 5px 5px rgba(247, 86, 0, 0.7);
}

#skill-dev a:hover{
  background-color: rgba(247, 86, 0, .7);
  border: 1px solid rgba(247, 86, 0,1);
  box-shadow: 0px 0px 7px 5px rgba(247, 86, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#skill-des{
  background-image: image-url("background-des.jpg");
}

#skill-des:hover{
  background-size: 150%;
}

#skill-des a{
  background-color: rgba(0, 36, 225, 0.4);
  border: 1px solid rgba(0, 36, 225, 0.7);
  box-shadow: 0px 0px 5px 5px rgba(0, 36, 225, 0.7);
}

#skill-des a:hover{
  background-color: rgba(0, 36, 225, .7);
  border: 1px solid rgba(0, 36, 225,1);
  box-shadow: 0px 0px 7px 5px rgba(0, 36, 225, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


#skill-teach{
  background-image: image-url("cover-eurekod.jpg");
}

#skill-teach:hover{
  background-size: 150%;
}

#skill-teach a{
  background-color: rgba(175, 84, 208, 0.4);
  border: 1px solid rgba(175, 84, 208, 0.7);
  box-shadow: 0px 0px 5px 5px rgba(175, 84, 208, 0.7);
}

#skill-teach a:hover{
  background-color: rgba(175, 84, 208, .7);
  border: 1px solid rgba(175, 84, 208,1);
  box-shadow: 0px 0px 7px 5px rgba(175, 84, 208, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


///// CONTACT FORM PART /////
#contact-section{
  background-image: image-url("communication.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


////// INDEX PORTFOLIO /////////
.portfolio-cover{
  background: image-url("office.png"), #dfdfdf;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 90%, 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.portfolio-title1 {
  color: white;
  text-align:  center;
  font-size: 6rem;
  margin-top: 20px;
  opacity: 0.7;
  backface-visibility: visible !important;
	animation: flip 2s ease;
}


.mix-card{
  border-top: solid 35px #7b1a1a;
  position: relative;

}

.mix-card-type{
  color: white !important;
  font-weight: bold;
  position: absolute;
  top: -45px;
  left: 17px;
}

.p-cover-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  
}

.papertoy{
  width: 600px;
}


.p-cover-center h1{
  color: white;
  font-size: 4rem;
  transition: 2.2s;
}

// .p-cover-center h1:hover{
//   color: #c21414;
// }

.p-cover-center > a:nth-child(1) > h1:nth-child(1):hover{
  color: #1a407b;
}

.p-cover-center > a:nth-child(3) > h1:nth-child(1):hover{
  color: #7b1a1a;
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}
////// END INDEX PORTFOLIO //////


////// ABOUT ME PORTFOLIO //////
.about-cover {
  // background-image: image-url("desk.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-attachment: fixed;
  // width: 100%;
  // height: 100Vh;
  
  h3{
    margin-top: 0px;
  }
  
  
  p, h3{
    font-family: 'Kaushan Script', cursive;  
    font-size: 2rem;
    color: #090f71;
  }
}

.intro-boutme{
  width: 70%;
  margin: 0 auto;
}


////// END ABOUT ME PORTFOLIO //////


///// smooth appearing elements /////
.hideme,.final-anime{
opacity:0;
}


//////// CONTACT PAGE //////////
  
  .mailed-page{
  
  }
  
  .thank-you h1{
    
  }
  




